body {
    background: url("images/background.jpg") no-repeat;
    background-size: cover;
    min-height: 100vh;
}

h1{
    color: white;
}

.logo{
    text-align: center;
    display: block;
    margin: auto;
}

/*.center{*/
    /*width: 95%;*/
    /*text-align: center;*/
/*}*/