body {
    background: url("images/background.jpg") no-repeat;
    background-size: cover;
    min-height: 100vh;
}

h1{
    color: white;
}

.logo{
    text-align: center;
    display: block;
    margin: auto;
    width: 100vw;
    max-width: 500px;
}

td>span.rejoin {
    color: #5cb85c
}

td>span.rejoin:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

/*.center{*/
    /*width: 95%;*/
    /*text-align: center;*/
/*}*/