.board-container {
    width: 600px;
    margin: 25px auto;
}

.board-square {
    display: inline-block;
    height: 75px;
    width: 75px;
    background-color: green;
    border: 2px solid black;
    margin-top: -5px;
    position: relative;
}

.game-piece {
    height: 80%;
    width: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    border-radius: 50%;
    box-shadow: 1px 1px 3px black;
    transition-duration: 500ms;
    animation-duration: 300ms;
}

.piece-0 {
    display: none;
}

.piece-1 {
    background-color: white;
    animation-name: drop;
    transform: rotateY(180deg);
}

.piece-ghost-1 {
    background-color: rgba(255, 255, 255, 0.3);
}

.piece-2 {
    background-color: black;
    animation-name: drop;
    transform: rotateY(0);
}

.piece-ghost-2 {
    background-color: rgba(0, 0, 0, 0.4);
}

@keyframes drop {
    from {top: -10%}
    to {top: 10%}
}
